@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Akronim);
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);
@import url(https://fonts.googleapis.com/css?family=Handlee);

body {
	color: #ececec;
    font-family: 'Handlee', cursive;
}

.outer {
	position: relative;
}

.inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}


/*---
Navigation
--------*/

.navbar-brand {
	font-size: 1.5em;
	font-family: 'Akronim', cursive;
}

.navbar-brand:hover {
	text-shadow: 0 0 1px #000;
}

.navbar-brand .t{
	color: red;
}

.navbar-brand .bd, .navbar-brand .echies{
	color: #1E824C;
}

.navbar-default {
    background: none;
    border-style: dotted;
    border-color: rgba(0,0,0,.2);
}

.navbar-default .navbar-brand {
    color: #ececec;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #F2784B;
}




/*---
Home
---*/

#home {
	background-image: url(../img/home.jpg);
    background-size: cover;
	font-family: 'Akronim', cursive;
	text-shadow: 1px 1px 1px #000;
	font-size: 3em;
	text-align: center;
}

#home .fa-cog {
	font-size: .7em;
	text-shadow: 0 0 1px #000;
	color: #87D37C;
}

/*---
About
---*/

.about {
    text-align: justify;
    font-size: 1.5em;
    line-height: 1.5em;
    font-family: 'Quicksand', sans-serif;
}

#bg-about {
    background-image: url(../img/about-bg.png);
    background-size: cover;
    color: #22313F;
}

/*---
Portfolio
--------*/

.portfolio {
    padding-top: 30px;
    background: #fff;
}

/*---
Contact
--------*/

.contact {
    background: #e2e2e2;
    color: #000;
}

.form-horizontal textarea, input {
    font-family: FontAwesome, 'Handlee', cursive;
}


#infoMenu{
	height: 20px;
	color: #6C7A89;
	position:fixed;
	z-index:70;
	bottom:0;
	font-size:0.9em;
    padding-left: 15px;
}
#infoMenu ul{
	padding: 0;
}
#infoMenu li a{
	display: block;
	margin: 0 22px 0 0;
	color: #333;
}
#infoMenu li a:hover{
	text-decoration:underline;
}
#infoMenu li{
	display:inline-block;
	position:relative;
}

/*---
Responsive
--------*/
@media only screen and (max-width: 320px) {
    .about {
        font-size: 1em;
        line-height: 1.7em;
    }
    
    .contact {
        padding-top: 2em;
    }
    
    .contact h2 {
        display: none;
    }
}